@charset "UTF-8";
:root {
  /** @case Main color. */
  --color-primary: #ff017d;
  --color-secondary: #000;
  --color-background: white;
  --color-foreground: var(--color-secondary);
  --radius-round: 50% 50%;
  --spacing-s: 5rem;
  --shadow-xs: 1px 2px 3px 4px rgba(0,0,0,0.25), inset 4px 3px 2px 1px #fff;
  --border-light: 1px solid rgba(0,0,0,0.15);
  --amount-suffix-content: '€';
  --margin-default: 0.5rem !important;
}

[data-theme="dark"] {
  /** @case Main color but for dark mode. */
  --color-primary: #cf689a;
  --color-secondary: blue;
  --color-background: var(--color-background);
}

[data-theme="dark"].nested {
  --color-primary: blue;
  --width-header: calc(100vh - (3rem / 2));
}

[data-lang="us"] {
  --amount-suffix-content: '$';
}

@media screen and (min-width: 960px) {
  :root {
    --color-primary: blue;
  }
}

.firstSelector .firstChildSelector, .firstSelector .secondChildSelector, .secondSelector .firstChildSelector, .secondSelector .secondChildSelector {
  --test-variable: red;
}
.firstSelector.firstModifierSelector, .firstSelector.secondModifierSelector, .secondSelector.firstModifierSelector, .secondSelector.secondModifierSelector {
  --test-variable: blue;
}
.firstSelector > div, .secondSelector > div {
  --test-variable: yellow;
}
.firstSelector > span, .secondSelector > span {
  --test-variable: green;
}
.firstSelector:hover, .secondSelector:hover {
  --test-variable: green;
}
.firstSelector::before, .secondSelector::before {
  --test-variable: green;
}
.firstSelector:nth-child(50), .secondSelector:nth-child(50) {
  --test-variable: green;
}
.firstSelector[href^="starterpage"], .secondSelector[href^="starterpage"] {
  --test-variable: green;
}
.firstSelector[href^="starterpage"][disabled], .secondSelector[href^="starterpage"][disabled] {
  --test-variable: green;
}
.singleSelector a:hover {
  --test-variable: green;
}
.singleSelector a::before {
  --test-variable: green;
}
.singleSelector a:nth-child(50) {
  --test-variable: green;
}
.singleSelector a[href^="starterpage"][disabled] {
  --test-variable: green;
}
